@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Cores do sistema */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Cores do Trello para etiquetas e cartões */
  --trello-green: #61bd4f;
  --trello-yellow: #f2d600;
  --trello-orange: #ff9f1a;
  --trello-red: #eb5a46;
  --trello-purple: #c377e0;
  --trello-blue: #0079bf;
  --trello-sky: #00c2e0;
  --trello-lime: #51e898;
  --trello-pink: #ff78cb;
  --trello-black: #344563;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}